*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: #7ba9f4;
}
#divider {
    border-top: 3px solid #7ba9f4;
    width: 8%;
}
#header{
    color: #a4a4a4;
    text-align: center;
}
h5{
    color: #737373;
}
#content{
    display: flex;
}

.icon{
    filter: invert(100%);
    height: 60%;
    width: 60%;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #5098f6ff;
    border-radius: 50%;
}

#texto{
    text-align: left;
    white-space:wrap ;
    max-width: 40%;
    color: #111111;
}
#circles{
    width: 10%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#big-vector{
    max-width: 50%;
    height: 100%;
    margin: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#team-check{
    width: 70%;
    height: 70%;
}