/* ====== Fuentes ====== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@700&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

/* ====== Variables ====== */

:root {
    --bg-Inicio : #010626;
    --bg-Botones : #056CF2;
    --bg-Blanco : #FFFFFF;
    --bg-Blanco2 : #F2F2F2;
    --bg-Whatsapp : #009900;
}

/* ====== Botones Preterminados ====== */

.float {
    /* Estilos Boton de Whatsapp */
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: var(--bg-Whatsapp);
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float img {
    /* Tamaño Icon Boton Whatsapp */
    width: 30px;
    height: 30px;
}

.float:hover {
    background-color: #02af02;
}

.float-2 {
    /* Estilo de Boton Chevron Down */
    position: absolute;
    bottom: 10px;
    background-color: rgba(242, 242, 242, 0.10);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-2 img {
    /* Tamaño Icon Boton Chevron Down */
    width: 20px;
    height: 20px;
}

/* ====== Estilos del encabezado (Header) ====== */

.header-carousel {
    /* Fondo del Encabezado Img */
    background-image: url('../img/Img-Inicio-1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: background-image 0.5s ease;
}

.header-overlay {
    /* Capa de Traslucido */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 6, 38, 0.9);
}

.header-content {
    /* Contenido del Header */
    position: relative;
    z-index: 1; 
}

/* ====== Estilos de la barra de navegacion (Navbar) ====== */

nav.bg-codev {
    /* Margenes Navbar */
    display: flex;
    width: 100%;
    max-width: 1088px;
    height: 100px;
    margin: 0 auto;
}

.navbar-brand {
    /* Logo Empresa Tamaño, Color, etc.. */
    color: var(--bg-Blanco);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.navbar-brand:hover {
    /* Logo Empresa Hover */
    color: var(--bg-Blanco);
}


.navbar-collapse {
    /* Margenes para los enlaces de navegacion (Nav Links) */
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.nav-link {
    /* Estilos para los enlaces*/
    color: var(--bg-Blanco);
    position: relative;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.2s;
    text-decoration: none;
}

/* ====== Nav Links Hover ====== */

.nav-text::before, .nav-text::after {
    /* Elemento "<" */
    content: '<';
    font-weight: 400;
    color: transparent; 
    transition: color 0.2s; 
}

.nav-text::after {
    /* Elemento ">" */
    content: '>';
    color: transparent; 
    transition: color 0.2s; 
}

.nav-link::before {
    /* Boton Link */
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--bg-Botones);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover::before {
    /* Boton Traslucido Link */
    transform: scaleX(1);
    transform-origin: left;
    box-shadow: 0 10px 40px rgba(5, 108, 242, 1);
}

.nav-link:hover .nav-text::before, .nav-link:hover .nav-text::after {
    /* Hover Elemento "<" y ">" */
    color: var(--bg-Blanco);
    font-size: 20px;
    font-weight: 700;
}

.nav-link:hover {
    /* Hover Texto */
    color: var(--bg-Blanco);
    font-size: 20px;
    font-weight: 700;
}

/* ====== Estilos para el menu lateral desplegable (OFF Canvas) ====== */

.navbar-toggler {
    /* Boton Menu */
    border: none;
}

.offcanvas {
    /* Color de Fondo de OFF Canvas */
    background: var(--bg-Inicio);
}

.nav-link-offcanvas {
    /* Estilos para los enlaces de OFF Canvas */
    color: var(--bg-Blanco);
    position: relative;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.2s;
    text-decoration: none;
}

/* ====== Nav Links OFF Canvas Hover ====== */

.nav-text-offcanvas::before, .nav-text-offcanvas::after {
    /* Elemento "<" */
    content: '<';
    font-weight: 400;
    color: transparent; 
    transition: color 0.2s; 
}

.nav-text-offcanvas::after {
    /* Elemento ">" */
    content: '>';
    color: transparent; 
    transition: color 0.2s; 
}

.nav-link-offcanvas:hover .nav-text-offcanvas::before, .nav-link-offcanvas:hover .nav-text-offcanvas::after {
    /* Hover Elemento "<" y ">" */
    color: var(--bg-Blanco);
    font-size: 20px;
    font-weight: 700;
}

.nav-link-offcanvas:hover {
    /* Hover Texto */
    color: var(--bg-Blanco);
    font-size: 20px;
    font-weight: 700;
}

.offcanvas-redes-sociales {
    /* Posicion Redes Sociales */
    text-align: center;
    padding: 20px;
}

.offcanvas-redes-sociales img {
    /* Tamaño Icons */
    width: 50px;
    height: 50px;
}

/* ====== Estilos para la seccion de hero (Hero) ====== */

#hero {
    /* Margenes de Hero */
    margin: 0 auto;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    /* Margenes y Color del Carrusel */
    display: flex;
    width: 100%;
    max-width: 1085px;
    height: 346px;
    padding: 0px 16px;
    margin: 0 auto;
    border-radius: 30px;
    background: rgba(242, 242, 242, 0.20);
    text-align: center;
}

.container-titulo-text {
    /* Margen de los Titulos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto; 
    max-width: 1028px;
}

.carousel-titulo-text {
    /* Estilos de los Titulos */
    color: var(--bg-Blanco2);
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; 
    text-transform: capitalize;
}

.container-parrafo-text {
    /* Margen de los Parrafos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -20px auto; 
    max-width: 816px; 
}

.carousel-parrafo-text {
    /* Estilos de los Parrafos */
    color: var(--bg-Blanco2);
    text-align: center;
    font-family: Roboto Flex;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px; 
    letter-spacing: 3px;
}

.carousel-indicators {
    /* Margen de los Botones Indicadores del Carrusel */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.carousel-indicators button.active {
    /* Estilos de los Botones Indicadores del Carrusel Activo */
    background-color: var(--bg-Botones);
    border: 1px solid var(--bg-Botones);
    width: 36px;
    height: 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(5, 108, 242, 0.7);
}

.carousel-indicators button:not(.active) {
    /* Estilos de los Botones Indicadores del Carrusel No Activo */
    background-color: transparent;
    border: 1px solid var(--bg-Blanco);
    width: 36px;
    height: 9px;
}

/* ====== Estilos Responsivos ====== */

@media (max-width: 992px) {
    .carousel-titulo-text {
        font-size: 30px; 
    }

    .carousel-parrafo-text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .carousel-titulo-text {
        font-size: 29px; 
    }

    .carousel-parrafo-text {
        font-size: 17px;
    }
} 

@media (max-width: 530px) {
    .carousel-titulo-text {
        font-size: 25px; 
    }

    .carousel-parrafo-text {
        font-size: 14px;
    }
}

@media (max-width: 422px) {
    .carousel-titulo-text {
        font-size: 19px; 
    }

    .carousel-parrafo-text {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .carousel-titulo-text {
        font-size: 18px; 
    }

    .carousel-parrafo-text {
        font-size: 10px;
    }
}